<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your test has just finished</h1>
    <p>Here is your test report: <%= project_report_url(@project, @report) %></p>
  </body>
</html>